:root {
  --hero-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --hero-cl: #ffffff;
  --a-focus-cl: #2196f3;
  --h-and-li-cl: #212121;
  --background-header: #ffffff;
  --background-footer: #2f303a;
  --body-cl: #757575;
  --worhy-items: 4;
  --background: #2f303a;
  --work-foto: 3;
  --team-foto: 4;
  --bg: #e5e5e5;
  --bg-team: #f5f4fa;
  --services-button: 5;
  --services-item: 3;
}

body {
  font-family: var(--hero-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-cl);
  background-color: #e5e5e5;
}

header {
  background-color: var(--background-header);
}
footer {
  background-color: var(--background-footer);
}
footer a {
  color: rgba(255, 255, 255, 0.6);
}
.addres {
  color: var(--background-header);
  font-family: var(--hero-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a:focus,
a:hover {
  color: var(--a-focus-cl);
}
button:focus,
button:hover {
  color: var(--hero-cl);
  background: var(--a-focus-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 500;
  font-family: var(--hero-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
header li a {
  color: var(--h-and-li-cl);
  text-decoration: none;
  font-weight: 500;
  font-family: var(--hero-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

header a {
  color: var(--body-cl);
  text-decoration: none;
  font-weight: 500;
  font-family: var(--hero-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

button {
  font-weight: 500;
  cursor: pointer;
  font-family: var(--hero-font);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
}

.logo-web {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--a-focus-cl);
}
.logo-studio {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--h-and-li-cl);
}
footer .logo-studio {
  color: var(--hero-cl);
}

.h1 {
  font-family: var(--hero-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-cl);
}
.h1-button {
  font-family: var(--hero-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--h-and-li-cl);
  background: #f5f4fa;
  border-radius: 4px;
}
.hero-section {
  display: flex;
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: var(--background);
  margin-left: 15px;
}

.dignity-li {
  font-family: var(--hero-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h-and-li-cl);
}

.h2 {
  margin-bottom: 50px;
  font-family: var(--hero-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-and-li-cl);
}

.team-name {
  font-family: var(--hero-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--h-and-li-cl);
}
.team-p {
  font-family: var(--hero-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.works {
  font-family: var(--hero-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-and-li-cl);
}
.works-p {
  font-family: var(--hero-font);
  font-size: 16px;
  line-height: 1.87;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.current {
  color: var(--a-focus-cl);
}

/* позиционирование */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 93px;
  padding-bottom: 93px;
}
.header .section {
  border-bottom: 1px solid #ececec;
  justify-content: flex-end;
  display: flex;
  align-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header .telma-item {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.header .nav {
  align-items: center;
  display: flex;
  margin-right: auto;
}

.logo {
  margin-right: 93px;
}

.h1 {
  display: flex;
  margin: auto;
  max-width: 700px;
  margin-bottom: 50px;
}

.h1-button {
  min-width: 200px;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 32px;
  margin: auto;
}

.menu {
  display: inline-flex;
}

.menu li:not(:last-child) {
  margin-right: 50px;
}

.worhy {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-left: -30px;
  margin-top: -30px;
}

.worhy .worhy-items {
  flex-basis: calc((100% - 30px * var(--worhy-items)) / var(--worhy-items));
  margin-top: 30px;
  margin-bottom: 30px;
}

.dignity-li {
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.work-foto {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.foto {
  padding-left: 15px;
  margin-top: 50px;
  flex-basis: calc((100% - 30px * var(--work-foto)) / var(--work-foto));
}
.foto:not(:first-child) {
  margin-left: 30px;
}

.team {
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.section-team {
  background-color: var(--bg-team);
}

.team-foto {
  margin-top: 50px;
  background: #ffffff;
  max-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 30px * var(--team-foto)) / var(--team-foto));
}
.team-foto:not(:first-child) {
  margin-left: 30px;
}

.bg {
  background-color: var(--bg);
}
.footer .section {
  flex-direction: column;
  display: flex;
}

.footer .logo {
  padding-bottom: 20px;
}
.footer a {
  display: flex;
  padding-bottom: 9px;
}

.services-button {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.services-button .button:not(:first-child) {
  margin-left: 8px;
}

.section-services .section {
  background: var(--hero-cl);
}
.services-ul {
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.services-item {
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 30px * var(--services-item)) / var(--services-item));
}
.services-item:not(:last-child) {
  margin-right: 30px;
}

.services-hp {
  flex-direction: column;
  display: flex;
  border: 1px solid #eeeeee;
}

.services-hp h3,
p {
  padding-left: 24px;
}
.team-hp {
  flex-direction: column;
  display: flex;
  border: 1px solid #eeeeee;
}

.team h3,
p {
  padding-left: 24px;
}

.team h3,
p :not(:last-child) {
  padding-top: 30px;
}
